@charset "UTF-8";
/* CSS Document */
.mis-contenidos{
	background-color:#FFF;
	opacity:0.8;
	border-radius:6px;
	margin-top:20px;
}

.container .jumbotron{
	background-color:#FFF;
	opacity:0.8;
}
.btn {
font-size: 18px;
}
