@charset "UTF-8";
/* CSS Document */
body{
	font-family: 'Crimson Text', serif;
	background-image:url('../images/tablecloth.jpg');
	font-size:20px;	
}
	
h1{
color:#511281;	
}	

.section-box{
	background-color:rgba(255,255,255,0.8);
	border-radius:6px;
	margin-top:20px;
}

.container .jumbotron{
	background-color:rgba(255,255,255,0.8);
	padding-top:100px;
}
.btn {
font-size: 18px;
}

.row{
	padding-top:40px;
}
.glyphicon-record{
	margin-right:10px;
}

.grabar{
	background-color:rgba(255,255,255,0.8);
	border-radius:6px;
	padding-top:20px;
	padding-bottom:20px;


	
	
}


#mc-embedded-subscribe{
	margin-top: 10px;
	margin-bottom: 20px;
	
}